extends ../../layout
include ../../mixins/social

block contents
  form(method="post")
    span.material-icons-outlined email
    input#email(type="email" name="email" required)
    button#emailChecker Check availability
    label(for="username") Username
      input#username(type="text", name="username" required) 
    label(for="password") Password
      input#password(type="password", name="password" required)
    label(for="password2") Confirm Password
      input#password2(type="password", name="password2" required)
    input(type="submit", value="Create Account")
  +social()

block scripts
  script(src="/static/scripts/validator.js") 