extends ../../layout
include ../../mixins/social

block contents
  .login__container
    form(method="post")
      label(for="email") E-mail
        input#email(type="email", name="email")
      label(for="password") Password
        input#password(type="password", name="password")
      input(type="submit", value="Log In")
    .login__bottom
      a(href="/join")
        span Create new account
    +social()