extends ../../layout

block contents
  .profile__container
    .profile__header
      img.profile__image
      span=user.name
  .profile__videos.video__grid

block scripts
  script(src="/static/scripts/video_grid.js") 