mixin comment(comment)
  .comment__comment(data-id=comment._id)
    a(href=comment.writer._id)
      if comment.writer.avatarUrl
        img(src=comment.owner.avatarUrl alt="comment writer's profile image").avatar.avatar-small
      else
        img(src='/static/images/comment.svg' alt="comment writer's profile without image").avatar.avatar-small
    span.comment-text=comment.text
    .comment__buttons
      if !loggedIn
        //- 로그인되어있지 않을 시
        button.comment-like
          span.material-icons.material-icons-outlined thumb_up
        button.comment-dislike
          span.material-icons.material-icons-outlined thumb_down
      else
        if String(loggedInUser._id) === String(comment.writer._id)
          //- 현재 사용자와 코멘트 작성자가 동일할 시
          button.comment-edit
            span.material-icons.material-icons-outlined edit_note
          button.comment-delete
            span.material-icons.material-icons-outlined clear
        else
          //- 현재 사용자와 코멘트 작성자가 다를 시
          if comment.meta.likeUser.some((userId) => String(userId) === loggedInUser._id)
            //- 현재 사용자가 like를 누른 사람일 시
            button.comment-like.selected
              span.material-icons.material-icons-outlined thumb_up
            button.comment-dislike.disabled
              span.material-icons.material-icons-outlined thumb_down    
          else if comment.meta.dislikeUser.some((userId) => String(userId) === loggedInUser._id)
            //- 현재 사용자가 dislike를 누른 사람일 시
            button.comment-like.disabled
              span.material-icons.material-icons-outlined thumb_up
            button.comment-dislike.selected
              span.material-icons.material-icons-outlined thumb_down
          else
            button.comment-like
              span.material-icons.material-icons-outlined thumb_up
            button.comment-dislike
              span.material-icons.material-icons-outlined thumb_down