mixin comment(comment)
  .comment__comment(data-id=comment._id)
    a(href=comment.writer._id)
      //- img(src=comment.owner.avatar alt="") 코멘트를 남긴 유저의 프로필 링크
    span.comment-text=comment.text
    .comment__buttons
      if !loggedIn
        //- 로그인되어있지 않을 시
        button.comment-likes
          span.material-icons.material-icons-outlined thumb_up
        button.comment-dislikes
          span.material-icons.material-icons-outlined thumb_down
      else
        if String(loggedInUser._id) === String(comment.writer._id)
          //- 현재 사용자와 코멘트 작성자가 동일할 시
          button.comment-edit
            span.material-icons.material-icons-outlined edit_note
          button.comment-delete
            span.material-icons.material-icons-outlined clear
        else
          //- 현재 사용자와 코멘트 작성자가 다를 시
          button.comment-like
            span.material-icons.material-icons-outlined thumb_up
          button.comment-dislike
            span.material-icons.material-icons-outlined thumb_down