mixin social()
  a(href='/social/gh/start')
    button.social.social__github#ghBtn
      i.fab.fa-github
      span Continue with GitHub
      span.material-icons.material-icons-outlined arrow_forward
  //- button.social.social__naver#naverBtn 
  //- 네이버 아이콘은 네이버 적용 가이드를 따른다.
