.flash__message {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50px;
  background: tomato;
  padding: 20px 15px;
  border-radius: 10px;
  animation: fadeout 1s ease-in forwards;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}
