header {
  nav {
    width: 100%;
    padding: 20px 10%;
    margin-top: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 50% 30%;
    .nav__others {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 48px;
    }
    @media screen and (max-width: 1024px) {
      grid-template-columns: 30% 20% 50%;
      font-size: 36px;
    }
    @media screen and (max-width: 425px) {
      font-size: 24px;
      .nav__empty {
        display: none;
      }
      grid-template-columns: 1fr 2fr;
    }
  }
}
