.video__grid {
  width: 100%;
  height: auto;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 250px;
  .video__box {
    width: 100%;
    border-radius: 10px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    .video__box--thumb {
      height: 250px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
    .video__box__info {
      padding: 0 15px;
      margin-top: 6px;
      .video__info--title {
        font-weight: 600;
        font-size: 1.2em;
        margin-top: 10px;
        text-transform: capitalize;
      }
      .video__box__info--meta {
        margin-top: 5px;
        font-size: 0.9em;
        opacity: 0.9;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
